extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

  
        h1 Felipe Molano

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

        
        .portfolio-bio
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li Express
          li Javascript
          li html
          li css
          li JQuery 
          li Java
        h6 Contact Info

        
        ul
          li 3002480695
          li molano.alvaro@gmail.com

     
        a.button.expanded(href='https://www.linkedin.com/in/alvaro-felipe-molano-montoya-a2a354b8/') LinkedIn
        a.button.expanded(href='https://github.com/felipemolano') GitHub
        a.button.expanded(href='#') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  