extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div


      h1 Hello World!!!
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla.

      each p in projects
         .cell
          a(href=`/projects/${p.id}`) 
           img.thumbnail(src=`${p.urls[0]}` width="550" height="550")
           h5= p.project_name
           br
           
    
           

  

      
